<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{backend/layout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="container-fluid" layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <!--    <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">List</h3>
                    </div>
                    &lt;!&ndash; /.box-header &ndash;&gt;
                    <div class="box-body table-responsive">
                        <table class="table table-bordered">
                            <tbody><tr>
                                <th style="width: 10px">#</th>
                                <th>Username</th>
                                <th>Full name</th>
                                <th>Address</th>
                                <th>Phone</th>
                                <th>Operation</th>
                            </tr>


                            <tr th:each="user: ${users}">
                                <td th:text="${user.getId()}"></td>
                                <td th:text="${user.getUsername()}"></td>
                                <td th:text="${user.getFullname()}"></td>
                                <td th:text="${user.getAddress()}"></td>
                                <td th:text="${user.getPhone()}"></td>
                                <th>
                                    <a th:href="@{/admin/user/edit(id=${user.getId()})}">Edit</a>
                                    <a th:href="@{/admin/user/delete(id=${user.getId()})}"  onclick="return confirm('Are you sure want to delete it?')">Delete</a>
                                </th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    &lt;!&ndash; /.box-body &ndash;&gt;
                    <div class="box-footer clearfix">

                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li th:each="pageNumber:${#numbers.sequence(1, totalPage)}">
                                <a th:href="@{/admin/user/list(page=${pageNumber},offset=${offset})}"
                                   th:text="${pageNumber}"
                                   th:attr="class=${currentPage==pageNumber ? 'active' : ''}"></a>
                            </li>
                        </ul>
                    </div>
                </div>
-->


            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">User</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Avatar</th>
                            <th>Username</th>
                            <th>Full name</th>
                            <th>Address</th>
                            <th>Phone</th>
                            <th>Operation</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user: ${users}">
                            <td>
                                <img width="100" th:src="@{'/uploads/'+${user.getAvatar()}}" alt="">
                            </td>
                            <td th:text="${user.getId()}"></td>
                            <td th:text="${user.getUsername()}"></td>
                            <td th:text="${user.getFullname()}"></td>
                            <td th:text="${user.getAddress()}"></td>
                            <td th:text="${user.getPhone()}"></td>
                            <th>
                                <a th:href="@{/admin/user/edit(id=${user.getId()})}">Edit</a>
                                <a th:href="@{/admin/user/delete(id=${user.getId()})}"
                                   onclick="return confirm('Are you sure want to delete it?')">
                                    Delete
                                </a>
                            </th>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix">
                    <ul class="pagination pagination-sm m-0 float-right">
                        <li
                                th:each="pageNumber:${#numbers.sequence(1, totalPage)}"
                                th:attr="class=${currentPage==pageNumber ? 'active page-item' : 'page-item'}"
                                th:if="${pageNumber>0}">
                            <a class="page-link" th:href="@{/admin/user/list(page=${pageNumber},offset=${offset})}"
                               th:text="${pageNumber}"
                            ></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>
</body>
</html>